
body{

background-color: green;


}

h1{
    text-align: center;
}

nav{
    margin-right: 100px;
    margin-left:70px;
    text-align: center;

}

nav ul li{

    display: inline-block;
    width: 100px;
    background-color: red;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}

nav ul li:hover{

    color: white;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

div{
    text-align: center;
    
}

